# Build outputs
build/
out/
bin/
lib/
*.obj
*.pdb
*.ilk
*.exe

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
_deps/

# IDE / OS
.vs/
.vscode/
.idea/
Thumbs.db
desktop.ini

# Engine
Saved/
Intermediate/
*.log
